body {
    font-family: Arial, sans-serif;
    background-color: #7cd2dd;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    text-align: center;
    color: #0a0101;
}


input, select{
    width: 99%;
    padding: 5px;
    margin-top: 0px;
    border-radius: 1px;
    border: 2px solid #ccc;
    font-size: 15px;
    text-align: center;
}

#botao{
    background-color: #4ee753;
    cursor: pointer;
    text-align: center;
}


#mensagem{
    text-align: center;
    font-size: 18px;
    color: #ec3304;
}
